*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
}

@media (max-width: 375px) {
  body {
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
}
@media (min-width: 375px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
  }
}

/* Frontend Mentor Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
