/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
}

@media (max-width: 375px) {
  body {
    background-image: url(/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  }
}
@media (min-width: 375px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
  }
}

@media (max-width: 380px) {
  .col-to-row {
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }
}

/* Frontend Mentor Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
